
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: rgb(0, 0, 0);
  }
  
  footer a {
    color: rgb(0, 0, 0);
  }
  
  footer a:hover {
    color: #222;
  }
  
  footer small {
    float: left;
  }
  
  footer ul {
    float: right;
    list-style: none;
    margin-right: 130px;
  }
  
  footer ul li {
    float: left;
    margin-left: 15px;
  }

